<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="css/password.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
    <main>
        <form action="">
            <p>
                <input type="hidden" name="userId" value=<%= userId %> >
            </p>
            <p>
                <label for="password">Enter new password:</label>
                <input type="password" name="password" id="password" required />
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </p>
            <button type="submit">Confirm</button>
        </form>
    </main>
<%- include("../inc/end.ejs") %>