<!-- home page for admin role -->
<%- include("../inc/head.ejs") %>
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <ul>
                <li><a href="/admin/userstable">Users Table</a></li>
                <li><a href="/admin/itemstable">Items Table</a></li>
            </ul>
        </main>
    </body>
</html>