<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin</title>
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin/users">List All Users</a></li>
                    <li><a href="/admin/companies">List All Companies</a></li>
                </ul>
            </nav>
            <h1>Admin page</h1>
        </header>
        <main>
            <ul>
                <li type="text">Will contain</li>
                <li type="text">Data grid for users and companies databases</li>
            </ul>
        </main>
    </body>
</html>
