<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin-Users</title>
        <link rel="stylesheet" href="/css/tables.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Usersname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <% for (let i=0; i<rows.length; i++) { %>
            <tr>
                <td><%= rows[i][0] %></td>
                <td><%= rows[i][1] %></td>
                <td><%= rows[i][2] %></td>
                <td><%= rows[i][3] %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>
