<%- include("inc/head.ejs") %>
    </head>
    <body>
        <header>
            <%- include("inc/nav.ejs") %>
        </header>
        <main>
            <h1>Admin page</h1>
            <ul>
                <li type="text">Will contain</li>
                <li type="text">Data grid for users database</li>
            </ul>
        </main>
<%- include("inc/end.ejs") %>
