<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="css\main.css" />
        <link rel="stylesheet" href="css\dashboard.css" />
    </head>
    <body>
        <head>
            <nav><a href="/">Home</a></nav>
            <h1>Dashboard</h1>
        </head>
        <main>
            <div class="profile">
                <h2>Profile:</h2>
                <dl>
                    <dt>Username:</dt>
                    <dd><%= username %></dd>
                    <dt>Email:</dt>
                    <dd><%= email %></dd>
                </dl>
            </div>
            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
            </form>
        </main>
    </body>
</html>
