<%- include("inc/head.ejs") %>
    </head>
    <body>
        <header>
            <%- include("inc/nav.ejs") %>
        </header>
        <main>
            <h1>NodeJS Demo Site</h1>
        </main>
<%- include("inc/end.ejs") %>
