<%- include("inc/head.ejs") %>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <header>
            <h1>NodeJS Demo Site</h1>
            <br />
        </header>
        <main>
            <h2>Weclome:</h2>
            <% if (isAuth) { %>
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </nav>
            <% } else if (!isAuth) {%>
            <nav>
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <% } %>
            <br />
        </main>
        <br />
        <footer>
            <a href="/admin">Admin</a>
        </footer>
<%- include("inc/end.ejs") %>
