<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Row</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/forms.css" />
    </head>
    <body>
        <main>
            <form action="/admin/users/update" method="POST">
                <input type="text" name="username" value= <%= username %>>
                <input type="text" name="email" value= <%= email %>>
                <input type="text" name="phone" value= <%= phone %>>
                <input type="text" name="address" value= <%= address %>>
                <button type="submit">Update</button>
            </form>
        </main>
    </body>
</html>
