<%- include("inc/head.ejs") %>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/forms.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Already have account?</a></li>
                </ul>
            </nav>
            <h1>Register User</h1>
        </header>
        <main>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input
                    class="required"
                    id="username"
                    type="text"
                    name="username"
                    placeholder="*required"
                    required
                />

                <label for="email">Email:</label>
                <input
                    class="required"
                    id="email"
                    type="email"
                    name="email"
                    placeholder="*required"
                    required
                />

                <label for="pwd">Password:</label>
                <input
                    class="required"
                    id="pwd"
                    type="password"
                    name="password"
                    placeholder="*required"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,45}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                />

                <label for="phone">Phone:</label>
                <input
                    id="phone"
                    type="tel"
                    name="phone"
                    pattern="[0-9]{11}"
                    title="Must be a valid phone number"
                />

                <label for="address">Address:</label>
                <input id="address" type="text" name="address" />

                <button type="submit">Register</button>
            </form>
        </main>
<%- include("inc/end.ejs") %>