/* Style all input fields */
input {
    display: block;
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
button {
    width: 7rem;
    height: 2.5rem;
    background-color: #04aa6d;
    color: white;
}

.required::placeholder {
    opacity: 50%;
    color: grey;
}
