body {
    padding-top: 50px;
    font-family: "Open Sans", sans-serif;
    background: #d8d8d8;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    background: #009879;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
}

.active {
    color: yellow;
}

header * {
    display: inline;
}

header li {
    margin: 15px;
}

header li a {
    color: whitesmoke;
    text-decoration: none;
}
