body {
    justify-content: center;
}

.users-table {
    justify-self: center;
    align-self: center;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.95em;
    width: 1300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.users-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.users-table th,
.users-table td {
    padding: 12px 15px;
}

.users-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.users-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.users-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.users-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
